/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

button.facebook-button {
    background-color: #3b5998;
    color: white;
    width: 100%;
    text-transform: none;
    margin-top: 1rem;
}

button.facebook-button:hover {
    background-color: #344e86;
}

button.google-button {
    background-color: white;
    color: black;
    width: 100%;
    text-transform: none;
    margin-top: 1rem;
    border: 1px solid #ccc;
}

button.google-button:hover {
    background-color: #f1f1f1;
}

button.login-button {
    background-color: #1976d2;
    color: white;
    width: 100%;
    text-transform: none;
    margin-top: 1rem;
}

button.login-button:hover {
    background-color: #155a9a;
}
